.container {
    background-color: #f2f2f2;
    margin-top: 50px;
    border-radius: 25px;
}
.data-visible{
    
}
.data-invisible{
    display: none;
}

.edit-input-invisible{
    display: none;
}
.edit-btn-invisible{
    display: none;
}
